# Foundry
out/
cache/
broadcast/

# Dependencies
lib/
node_modules/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env
.env

# Temporary files
*.log
*.tmp
.deploy-info.json

# Data
data/participants.csv
data/id_address.test.csv
data/update_balances.sql
/tmp.*
/data/update_allocations.sql
